@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light: #bae6fd;
    --primary: #0284c7;
    --primary-dark: #075985;
    --background: #000;
    --surface: #000;
    --error: #ef4444;
    --on-primary: #fff;
    --on-background: #fff;
    --on-surface: #fff;
    --on-error: #fff;
  }
  body {
    font-family: 'Raleway', sans-serif;
  }
  [data-theme='dark'] {
    --primary-light: #bae6fd;
    --primary: #0284c7;
    --primary-dark: #075985;
    --background: #000;
    --surface: #000;
    --error: #ef4444;
    --on-primary: #fff;
    --on-background: #fff;
    --on-surface: #fff;
    --on-error: #fff;
  }
  [data-theme='light'] {
    --primary: #fff;
  }
}
