@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light: 186 230 253;
    --primary: 29 155 240;
    --primary-dark: 26 140 216;
    --background: 0 0 0;
    --surface: 0 0 0;
    --error: 0 0 0;
    --on-primary: 255 255 255;
    --on-background: 231 233 234;
    --on-surface: 231 233 234;
    --on-error: 239 68 68;
  }
  body {
    font-family: 'Source Sans Pro', sans-serif;
    /* rgb() function with opactiy -- seperated by '/' 
      because rgba() does not seem to work with custom properties
    */
    background: rgb(var(--background) / 1);
  }
  [data-theme='dark'] {
    --primary-light: 186 230 253;
    --primary: 29 155 240;
    --primary-dark: 26 140 216;
    --background: 0 0 0;
    --surface: 0 0 0;
    --error: 0 0 0;
    --on-primary: 255 255 255;
    --on-background: 231 233 234;
    --on-surface: 231 233 234;
    --on-error: 239 68 68;
    color-scheme: dark;
  }
  [data-theme='light'] {
    --background: 255 255 255;
    --surface: 255 255 255;
    --error: 255 255 255;
    --on-background: 15 20 25;
    --on-surface: 15 20 25;
    --on-error: 239 68 68;
    color-scheme: light;
  }
  [data-theme='dim'] {
    --background: 22 32 42;
    --surface: 22 32 42;
    --error: 22 32 42;
    --on-background: 231 233 234;
    --on-surface: 231 233 234;
    --on-error: 239 68 68;
    color-scheme: dark;
  }
  [data-primary-color='sky-blue'] {
    --primary-light: 186 230 253;
    --primary: 29 155 240;
    --primary-dark: 26 140 216;
  }
  [data-primary-color='yellow'] {
    --primary-light: 255 221 51;
    --primary: 255 212 0;
    --primary-dark: 230 191 0;
  }
  [data-primary-color='pink'] {
    --primary-light: 250 56 147;
    --primary: 249 24 128;
    --primary-dark: 224 22 115;
  }
  [data-primary-color='violet'] {
    --primary-light: 133 102 255;
    --primary: 120 86 255;
    --primary-dark: 108 77 230;
  }
  [data-primary-color='orange'] {
    --primary-light: 255 150 51;
    --primary: 255 122 0;
    --primary-dark: 230 110 0;
  }
  [data-primary-color='emerald'] {
    --primary-light: 0 230 153;
    --primary: 0 186 124;
    --primary-dark: 0 167 112;
  }
}

@layer components {
  /*
    class to stop chrome mobile from flashing blue color whenever a link or a button is clicked.
  */
  .no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .no-select:focus {
    outline: none !important;
  }
  .color-scheme-normal {
    color-scheme: normal;
  }
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
}
